.navigation {
	font-size: 3vh;
	color:aliceblue;
	position: fixed;
	top: 5%;
	right: 1%;
	padding-right: 7%;
}
.enlarge{
	padding:2vh 2vh 2vh 2vh;
	display: inline-flex;
}

 .enlarge:hover{
	font-size: 3.3vh;
	cursor: pointer;
	border-radius: 1vh 1vh 1vh 1vh;
	box-shadow: rgb(243, 242, 242) 0vh 0vh 3vh;
 }
 